:root {
  --login-bg-color: #293146;

  /* left menu start */
  --left-menu-max-width: 180px;

  --left-menu-min-width: 64px;

  --left-menu-bg-color: #001529;

  --left-menu-bg-light-color: #0f2438;

  --left-menu-bg-active-color: var(--el-color-primary);

  --left-menu-text-color: #bfcbd9;

  --left-menu-text-active-color: #fff;

  --left-menu-collapse-bg-active-color: var(--el-color-primary);
  /* left menu end */

  /* logo start */
  --logo-height: 50px;

  --logo-title-text-color: #fff;
  /* logo end */

  /* header start */
  --top-header-bg-color: '#fff';

  --top-header-text-color: 'inherit';

  --top-header-hover-color: #f6f6f6;

  --top-tool-height: var(--logo-height);

  --top-tool-p-x: 0;

  --tags-view-height: 35px;
  /* header start */

  /* tab menu start */
  --tab-menu-max-width: 80px;

  --tab-menu-min-width: 30px;

  --tab-menu-collapse-height: 36px;
  /* tab menu end */

  --app-content-padding: 20px;

  --app-content-bg-color: #f0f2f6;

  --app-footer-height: 20px;

  --transition-time-02: 0.2s;

  /*  font-size调整为12px */
  --el-font-size-base: 12px !important;

  --el-menu-item-font-size: 14px !important;
}

.dark {
  --app-content-bg-color: var(--el-bg-color);
}

*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color:#3c6082; */
}

p {
  font-size: 14px;
  padding-bottom: 10px;
}

label {
  font-size: 14px;
}
